<h1>出撃</h1>

<%= render 'shared/left_menu' %>

<table cellpadding="10">
  <tr>
    <td><%= button_to("出撃", action: "battle")  %></td>
    <td><%= button_to("演習", action: "practice")  %></td>
    <td><%= button_to("遠征", action: "ensei")  %></td>
  </tr>
</table> 

